<div id="left">
    <div id="mainmenucomponent"></div>
    <div id="tutorialiconcomponent" class="">
        <div id="helper">
            <a class="tooltip tooltipClose" href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=tutorial" title="Tutorial Overview<br/><a href=&quot;https://s168-us.ogame.gameforge.com/game/index.php?page=rewards&quot;></a>">?</a>
        </div>
    </div>
    <div id="toolbarcomponent" class="">
        <div id="links">
            <ul id="menuTable" class="leftmenu">

                <li>
                    <span class="menu_icon">
                        <a href="https://s168-us.ogame.gameforge.com/game/index.php?page=rewards" class="tooltipRight js_hideTipOnMobile " target="_self" title="">
                            <div class="menuImage overview
                                ">
                            </div>
                        </a>
                    </span>
                    <a class="menubutton " href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=overview" accesskey="" target="_self">
                        <span class="textlabel">Overview</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <a href="https://s168-us.ogame.gameforge.com/game/index.php?page=resourceSettings" class="tooltipRight js_hideTipOnMobile " target="_self" title="Resource settings">
                            <div class="menuImage resources active
                                ">
                            </div>
                        </a>
                    </span>
                    <a class="menubutton  selected" href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=supplies" accesskey="" target="_self">
                        <span class="textlabel">Resources</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <a href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=facilities" class="tooltipRight js_hideTipOnMobile " target="_self" title="Jump Gate">
                            <div class="menuImage station
                                ">
                            </div>
                        </a>
                    </span>
                    <a class="menubutton " href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=facilities" accesskey="" target="_self">
                        <span class="textlabel">Facilities</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <a href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=traderOverview#page=traderResources&amp;animation=false" class="trader tooltipRight js_hideTipOnMobile  tpd-hideOnClickOutside" target="_self" title="">
                            <div class="menuImage traderOverview
                                ">
                            </div>
                        </a>
                    </span>
                    <a class="menubutton premiumHighligt" href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=traderOverview" accesskey="" target="_self">
                        <span class="textlabel">Trader</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <a href="https://s168-us.ogame.gameforge.com/game/index.php?page=ajax&amp;component=technologytree&amp;tab=3&amp;open=all" class="overlay tooltipRight js_hideTipOnMobile " target="_blank" title="Technology">
                            <div class="menuImage research
                                ">
                            </div>
                        </a>
                    </span>
                    <a class="menubutton " href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=research" accesskey="" target="_self">
                        <span class="textlabel">Research</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <span class="menuImage shipyard  "></span>
                    </span>
                    <a class="menubutton " href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=shipyard" accesskey="" target="_self">
                        <span class="textlabel">Shipyard</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <span class="menuImage defense  "></span>
                    </span>
                    <a class="menubutton " href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=defenses" accesskey="" target="_self">
                        <span class="textlabel">Defense</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <a href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=movement" class="tooltipRight js_hideTipOnMobile " target="_self" title="fleet movement">
                            <div class="menuImage fleet1
                                ">
                            </div>
                        </a>
                    </span>
                    <a class="menubutton " href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=fleetdispatch" accesskey="" target="_self">
                        <span class="textlabel">Fleet</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <span class="menuImage galaxy  "></span>
                    </span>
                    <a class="menubutton " href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=galaxy" accesskey="" target="_self">
                        <span class="textlabel">Galaxy</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <span class="menuImage empire  "></span>
                    </span>
                    <a class="menubutton " href="https://s168-us.ogame.gameforge.com/game/index.php?page=standalone&amp;component=empire" accesskey="" target="_blank">
                        <span class="textlabel">Empire</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <span class="menuImage alliance  "></span>
                    </span>
                    <a class="menubutton " href="https://s168-us.ogame.gameforge.com/game/index.php?page=ingame&amp;component=alliance" accesskey="" target="_self">
                        <span class="textlabel">Alliance</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <span class="menuImage premium  "></span>
                    </span>
                    <a class="menubutton premiumHighligt officers" href="https://s168-us.ogame.gameforge.com/game/index.php?page=premium" accesskey="" target="_self">
                        <span class="textlabel">Recruit Officers</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <a href="https://s168-us.ogame.gameforge.com/game/index.php?page=shop#page=inventory&amp;category=d8d49c315fa620d9c7f1f19963970dea59a0e3be" class="tooltipRight js_hideTipOnMobile " target="_self" title="Inventory">
                            <div class="menuImage shop
                                ">
                            </div>
                        </a>
                    </span>
                    <a class="menubutton premiumHighligt" href="https://s168-us.ogame.gameforge.com/game/index.php?page=shop" accesskey="" target="_self">
                        <span class="textlabel">Shop</span>
                    </a>
                </li>

                <li>
                    <span class="menu_icon">
                        <span class="menuImage   "></span>
                    </span>
                    <a class="menubutton " href="https://www.stomt.com/ogame" target="_blank">
                        <span class="textlabel">Stomt</span>
                    </a>
                </li>
            </ul>

            <div id="toolLinksWrapper">
                <ul id="menuTableTools" class="leftmenu"></ul>
            </div>
            <br class="clearfloat">
        </div>
    </div>
    <div id="advicebarcomponent" class="">
        <div class="adviceWrapper">

            <div id="advice-bar">






            </div>
        </div>

    </div>
</div>