@using DarkGalaxyProject.Models.Auction
@using DarkGalaxyProject.Data.Enums
@model CreateDealFormModel

@{
    ViewData["Title"] = "Shipyard";
}

@if (TempData["Message"] != null)
{
    <p> @TempData["Message"] </p>
}

<h1>
    Create a deal
</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <select asp-for="ShipType" class="form-control" asp-items="Html.GetEnumSelectList<ShipType>()"></select>
    </div>
    <div class="form-group">
        <label asp-for="ShipCount"></label>
        <input asp-for="ShipCount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="SellerId" hidden value="@Model.SellerId" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>