@using Microsoft.AspNetCore.Identity
@using DarkGalaxyProject.Services.PlayerServices
@model ProfileServiceModel
@inject UserManager<Player> UserManager

@{
    ViewData["Title"] = $"{Model.UserName}'s profile";
}

<h1>
    @Model.UserName
</h1>

<ul>
    <li>
        <span>Alliance: @(Model.AllianceName == null ? "none" : Model.AllianceName) </span>
    </li>
    <li>
        <span>Systems: @Model.Systems</span>
    </li>
</ul>

<a class="nav-link text-dark" asp-area="" asp-controller="Player" asp-action="Researches" asp-route-PlayerId="@UserManager.GetUserId(User)">Researches</a>