@using DarkGalaxyProject.Services.SystemServices
@model List<FleetServiceModel>

@{
    ViewData["Title"] = "All fleets";
}

<h1>
    All fleets
</h1>


<ul>
    @foreach (var fleet in Model)
    {
        <li>
            <span>Ships count: @fleet.Ships.Count</span><br>
            <span>ArrivalTime: @fleet.ArrivalTime</span><br>
            <span>Destination system position: @fleet.DestinationSystemPosition</span><br>
            @if (fleet.ArrivalTime != null)
            {
                <span>@(fleet.Outgoing ? "Outgoing" : "Incoming")</span><br>
            }
        </li>
    }
</ul>