@using DarkGalaxyProject.Services.SystemServices
@using DarkGalaxyProject.Data.Enums
@using System.Text
@model List<DefenceBuilderServiceModel>

@{
    ViewData["Title"] = "Defence building";
    string defenceType = "s";
}

<h1>
    Build Defence
</h1>

<span>Build Defence</span>
<form>
    <div class="form-group">
        <select id="defenceType" class="form-control" asp-items="Html.GetEnumSelectList<DefensiveStructureType>()"></select>
    </div>
    <div class="form-group">
        <input id="count" class="form-control" />
    </div>
    <div class="form-group">
        <input id="systemId" hidden value=@Model.First().systemId class="form-control" />
    </div>
    <div class="form-group">
        <input onclick="startBuilding()" value="Build" class="btn btn-primary" />
    </div>
</form>

<p id="timer"></p>

@section Scripts {
    <script>
        @defenceType = $("#defenceType").val().toString();

        @*if('@Model.Any(p => p.FinishedBuildingTime.HasValue)' == 'True')
        {
            @shipType = '@Model.FirstOrDefault(p => p.FinishedBuildingTime.HasValue).ShipType';//(p => p.FinishedBuildingTime.HasValue).ShipType
        }*@

        @if(Model.Any(p => p.FinishedBuildingTime.HasValue))
        {
            defenceType = Model.FirstOrDefault(p => p.FinishedBuildingTime.HasValue).DefenceType;
        }



        @{
            var Defence = Model.FirstOrDefault(p => p.DefenceType == defenceType);
            if(Defence == null)
            {
                Defence = Model.FirstOrDefault();
            }
        }

        window.onload = function () {
            if ('@Defence.FinishedBuildingTime.HasValue' != 'False') {
                 buildDefence();
            }
            else {
            }
        }

        function convertSeconds(s) {
            var min = Math.floor(s / 60);
            var sec = Math.floor(s % 60);
            if (min < 10) {
                min = '0' + min;
            }
            if (sec < 10) {
                sec = '0' + sec;
            }
            return min + ':' + sec;
        }

        var dateString = '@(Defence.FinishedBuildingTime.HasValue ? Defence.FinishedBuildingTime.Value : null)';

        function startBuilding() {
            if (dateString == '') {
                    $(document).ready(function () {
                        var defenceType = $("#defenceType").val().toString();
                        var systemId = $("#systemId").val();
                        var count = $("#count").val();
                        var datastring = "defenceType=" + defenceType + "&systemId=" + systemId + "&count=" + count;
                        $.ajax({
                            type: "post",
                            url: "StartBuildingDefence",
                            data: datastring
                        });
                        setTimeout(function () { location.reload(); }, 200);
                    });
            }
        }

        function buildDefence() {
            var counter = 0;
            var timeleft = 0;

                var oneSplit = dateString.split(' ');
                var year = oneSplit[0].split('/')[2];
                var month = oneSplit[0].split('/')[1];
                var day = oneSplit[0].split('/')[0];
                var hour = oneSplit[1].split(':')[0];
                var minutes = oneSplit[1].split(':')[1];
                var seconds = oneSplit[1].split(':')[2];

                var buildingFinishTime = new Date(year, month - 1, day, hour, minutes, seconds);

            timeleft = (buildingFinishTime.getTime() - new Date().getTime()) / 1000;

            if (timeleft - counter > 0) {

                document.getElementById('timer').innerText = convertSeconds(timeleft);

                var _tick = setInterval(function () {
                    counter++;
                    document.getElementById('timer').innerText = convertSeconds(timeleft - counter);
                    if (timeleft - counter <= 0) {
                        clearInterval(_tick);
                        build();
                    }
                }, 1000);
            } else {
                build();
            }
        }

        function build() {
            $(document).ready(function () {
                var defenceType = '@defenceType';//!!!!!!
                var systemId = $("#systemId").val();
                var datastring = "defenceType=" + defenceType + "&systemId=" + systemId;
                $.ajax({
                    type: "post",
                    url: "BuildDefence", //set count to 0, set buildingfinishtime to null
                    data: datastring
                });
                setTimeout(function () { location.reload(); }, 200);
            });
        }

    </script>
}