@using DarkGalaxyProject.Services.PartialServices.Models
@model List<SystemPartialServiceModel>


<div id="mysystems">
    <ul>
        @foreach (var system in Model)
        {
            <li>
                @system.Position @(system.CurrentPlayerId != null ? "Currently chosen" : null)
                <form method="post" action="@Url.Action("SwitchSystem", "System")">
                    <input hidden name="systemId" value=@system.Id />
                    <input type="submit" value="View system" />
                </form>
            </li>
        }
    </ul>
</div>
